$(document).ready(function () {

  $('.visited ul').append("<li><%= escape_javascript(link_to @trip.name, trip_path(@trip)) %></li>");
  $(".desired li[class=<%= classify(@trip.name) %>").remove();

});

