<h1>Please enter a place you would like to visit: </h1>

<%= form_for @location do |f| %>

  <%= f.label :country %>
  <%= f.autocomplete_field :country, autocomplete_country_name_locations_path %>

  <%= f.submit 'Add'%>

<% end %>
